
:root {
    --header-height: 6%;
    --nav-height: 5%; 
    --footer-height: 10%;   
    /* --top-footer-height: 10%;
    --bottom-footer-height: 10%; */
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #6f2079;
    width: 100%;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    color:#fff;
    height: var(--header-height);
}

#header-container * {
    display: inline;
    top:30%;
    position: relative;
}

nav {
    background-color:#3b3b3b;
    height: var(--nav-height);
    position: sticky;
    top: 0;
    right: 0;
    background-color: #333; /* Set your desired background color */
    /* padding: 10px;  */
    z-index: 1000; /* Ensure it's above other elements */
    color: #ffff;
}

.nav-elements-container {
    margin: auto;
    width: 50vw;
    height: 100%;
    /* padding: 10px; */
}

nav a {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    width: 19%;
    text-align: center;
    /* padding: 1.5vh 0.5vw 0 0.5vw; */
    padding: 1.5vh 0 0 0;

    color: #ffff;
}


.current-nav {
    background-color: #767676;
}

.sidebar {
    border: yellow 2px solid;
}

main {
    flex: 1; /* flex-grow: 1 flex:shrink flex:basis; */
    padding: 2em 0 2em 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* display: inline-block; */
    margin: auto;
    width: 50%;
    /* height: 100%; */
    border: green 2px solid;
}

/* Generic center align element  */
.center { 
    margin: auto;
    width: 50%;
    height: 100%;
    /* padding: 10px; */
}

.dashboard {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #323232;
    background: #ffffcc;
    font-size:20px;
    padding:5px;
    height: 33.33%;
}

.bubble {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #323232;
    background:  #F2E6FF;
    font-size:20px;
    /* padding:5px; */
}

/* ----------------- bookings.html ---------------------- */
#bookings-list {
    list-style-type: none; 
    font-size:20px;
    /* padding:5px; */
}
/* ----------------- bookings.html ---------------------- */


/* ----------------- about.html ---------------------- */
.about-table-header {
    text-align: left;
}
/* ----------------- about.html ---------------------- */

footer {
    height: auto;
}

#top-footer {
    background-color: #6f2079;
    color: #fff;
    height: 50%;
}

#bottom-footer {
    background-color:#3b3b3b;
    color: #5757f5;
    /* height: var(--bottom-footer-height); */
}

/* ----------------- psuedo---------------------- */

.nav-elements-container a:hover {
    background-color: #767676;
}

/* ----------------- psuedo---------------------- */

@media only screen and (max-width: 1010px) {
    /* .nav-elements-container {
        display: none;
    }

    .sidebar {
        display: block;
    } */
    nav {
        left:0;
        width: 25%;
        height: 100%;
        position: fixed;
    }
    .current-nav{
    }
    .nav-elements-container{
        width: 100%;
    }
    
    nav a {
        display: block;
        height: 10%;
        width: 100%;
    }
    body{
        margin-left:25%;
    }
    #main-container{
        width: 90%;
    }
    #header-container{
        width: auto;
        text-align: right;
    }
  }
