
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #6f2079;
    width: 100%;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    color:#fff;
}

#header-container * {
    display: inline;
}

nav {
    background-color:#3b3b3b;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: inline;
}

.nav-elements-container {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.nav-element {
    display: inline;
    height: 5em;
}

main {
    display: flex;
    flex-direction: column;
}

/* Generic center align element  */
.center { 
    margin: auto;
    width: 50%;
    padding: 10px;
}

.dashboard {
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
    background: rgb(255, 255, 204);
    font-size:20px;
    padding:5px;

    height: 50%;
}

#top-footer {
    background-color: #6f2079;
    color: #fff;
}

#bottom-footer {
    background-color:#3b3b3b;
    color: rgb(87, 87, 245);
}